body{
    background: #737373;
    font-family: Meiryo;
    padding: 10px;
}

p{
    font-size: 28px;
}

.option_form{
    background: #F2F2F2;
    border-radius: 5px;
    padding: 16px;
}

.input_number{
    width: 60px;
    height: 30px;
    border: #BFBFBF 1px solid;
    border-radius: 2px;
    background-color: #FFFFFF;
    text-align: right;
}

.input_select{
    border: #BFBFBF 1px solid;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.input_text{
    border: #BFBFBF 1px solid;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 40px;
}

.input_text_label{
    margin: 0px 0px 0px 40px;
}

button{
    width: 60px;
    border: #BFBFBF 1px solid;
    border-radius: 2px;
    margin: 5px 0px 0px 0px;
}
